/*---- Colors ----*/

/* Backgrounds */
$background-light: #f5f7fa;
$background-dark: #121212;
$background-light-glass: rgba(245, 247, 250, 0.5);
$background-dark-glass: rgba(31, 31, 31, 0.7);

/* Text Colors */
$text-primary-light: #212121;
$text-secondary-light: #666666;
$text-primary-dark: #f5f7fa;
$text-secondary-dark: #a0a0a0;
$text-selection-background: rgba(60, 120, 180, 0.6);
$text-selection-color: #f5f7fa;

/* Brand Colors */
$color-primary: #3c78b4;
$color-primary-glass: rgba(60, 120, 180, 0.6);
$color-accent: #e94e77;
$color-accent-glass: rgba(233, 78, 119, 0.5);

/* Secondary Colors */
$color-secondary: #ffffff;
$color-secondary-glass: rgba(255, 255, 255, 0.3);

/* Buttons */
$btn-text-color: #ffffff;
$btn-background-color: #3c78b4;
$btn-hover-text-color: #ffffff;
$btn-hover-background-color: #335a8a;
$btn-active-text-color: #e0e0e0;
$btn-active-background-color: #2a4d70;
$btn-shadow-color: rgba(60,120,180,0.4);
$btn-hover-shadow-color: rgba(60,120,180,0.6);

/* Iconography */
$icon-color-primary-light: #3c78b4;
$icon-color-secondary-light: #666666;
$icon-color-primary-dark: #3c78b4;
$icon-color-secondary-dark: #a0a0a0;

/*----fonts----*/
$main-font: "Montserrat", sans-serif;
