@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;

@mixin btn(
	$bg-clr: $btn-background-color,
	$clr: $btn-text-color,
	$hover-bg: $btn-hover-background-color,
	$hover-clr: $btn-hover-text-color,
	$active-color: $btn-active-text-color,
	$active-bg: $btn-active-background-color,
	$p: 0.5rem 1rem,
	$fsz: 0.875rem,
	$br: 0.25rem
) {
	@include flexBox;
	gap: 1em;
	padding: $p;
	font-size: $fsz;
	font-weight: 600;
	line-height: 1.25rem;
	color: $clr;
	background-color: $bg-clr;
	border-radius: $br;
	text-transform: capitalize;
	transition: all 0.3s;
	user-select: none;
	box-shadow: 0 2px 4px ;
	cursor: pointer;

	&:hover {
		transition: all 0.2s;
		background-color: $hover-bg;
		color: $hover-clr;
	}

	&:active {
		background-color: $active-bg;
		color: $active-color;
	}
}
